<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Grocery list</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <section id="shopping">
            <h1>Shopping List</h1>
            {% for category in categories %}
                <h4 class="title">{{ category }}</h4>
                {% for i in data | sort(attribute="name")  %}
                    {% if i.type == category %}
                        <section id="{{ i.id }}" class="item {{ i.type }} {% if i.tobuy %}x{% endif %} {% if i.season %}gold-border{% endif %}" {% if i.tobuy %}style="display: flex;"{% else %}style="display: none;"{% endif %} name="{{ i.name }}">
                            <img class="imageIcon" src="{{ i.icon }}" alt="{{ i.name }}" loading="lazy">
                            <span class="text">
                                {{ i.name }}
                            </span>
                        </section>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </section>
        <section id="recipes">
            <h1>Recipes</h1>
            {% for category in recipesCategories %}
            <h4 class="title">{{ category }}</h4>
                {% for recipe in recipes | sort(attribute="name") %}
                    {% if recipe.type in category %}
                        <section id="{{ recipe.id }}" class="recipe" data-ingredients="{{ recipe.ingredients }}" style="background-image: url('{{ recipe.img }}'); background-position: 50%; background-size: cover;">
                            <div class="background-overlay"></div>
                            <img class="imageIcon" src="{{ recipe.icon }}" alt="{{ recipe.name }}" aloading="lazy">
                            <h4 class="text">{{ recipe.name }}</h4>
                            <div class="ingredients-area"></div>
                            <div class="fav">{{ recipe.Fav }}</div>
                        </section>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </section> 
        <div style="height: 50px;"></div>
        <footer>
            <div class="button" id="listButton">
                <img class="imageIcon" src="" alt="list" loading="lazy">
            </div>
            <div id="search">
                <input type="text" placeholder="Search by name" id="searchBar">
            </div>
            <div class="button" id="recipesButton">
                <img class="imageIcon" src="" alt="recipes" loading="lazy">
            </div>
            <div class="button" id="emptyButton">
                <img class="imageIcon" src="" alt="empty" loading="lazy">
            </div>
            <div id="button_img" hidden>{{ button_img }}</div>
        </footer>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>